@layer anar {
  .root {
    --bg: transparent;
    --border: var(--AnarBorderColor);
    --text: var(--AnarColorText);
    --outline: 0;

    display: flex;
    width: fit-content;
    gap: 0.25rem;
    flex-direction: column;

    /* Applies to internal .anar-input */
    [data-hovered] {
      --border: var(--border-color-hover);
    }

    /* Applies to internal .anar-input */
    [data-focused],
    [data-focus-visible] {
      outline-width: 2px;
    }

    &[data-disabled] {
      --bg: var(--AnarColorDisabledBg);
      --border: var(--AnarBorderColorDisabled);
      --text: var(--AnarColorTextDisabled);
    }

    &[data-invalid] {
      --border: var(--AnarColorError);
    }

    &[data-readonly] {}

    &[data-required] {}

    [slot=description] {
      font-size: 14px;
    }
  }

  .input {
    margin: 0;
    padding: 0.5rem;

    background-color: var(--bg);
    color: var(--text);

    border: 1px solid var(--border);
    border-radius: 0.25rem;

    outline: 0 solid var(--focus-ring-color);
    outline-offset: -1px;
  }
}
