@layer anar {
  .root {
    --bg: transparent;
    --border: var(--AnarBorderColor);
    --text: var(--AnarColorText);
    --outline: 0;

    display: flex;
    width: fit-content;
    gap: 0.25rem;
    flex-direction: column;

    &:has([data-hovered]) {
      --border: var(--AnarBorderColorHover);
    }

    &[data-disabled] {
      --bg: var(--AnarColorDisabledBg);
      --border: var(--AnarBorderColorDisabled);
      --text: var(--AnarColorTextDisabled);
    }

    &[data-invalid] {
      --border: var(--AnarColorError);
    }

    /* TODO: Pending styles */
    &[data-readonly] {}
    &[data-required] {}

    [slot=description] {
      font-size: 14px;
    }
  }

  .input {
    margin: 0;
    padding: 0.5rem;

    background-color: var(--bg);
    color: var(--text);

    border: 2px solid var(--border);
    border-radius: 0.25rem;

    outline: 0 solid var(--AnarFocusRing);
    outline-offset: -1px;

    font-size: 16px;

    &:where([data-focused], [data-focus-visible]) {
      outline-width: 2px;
    }
  }
}
