@layer anar {
  .AnarCheckbox {
    --bg: transparent;
    --border: var(--AnarBorderControlColor);
    --icon: var(--AnarBorderControlColor);
    --text: var(--ColorText);
    --outline: 0;

    display: inline-flex;
    gap: 0.5rem;
    align-items: center;

    color: var(--text);
    cursor: pointer;

    .icon {
      display: flex;
      width: 20px;
      height: 20px;
      align-items: center;

      /* This color is used by SVG icon */
      color: var(--icon);
      background-color: var(--bg);

      border: 2px solid var(--border);
      border-radius: 4px;
      outline: var(--outline) solid var(--AnarFocusRing);
      outline-offset: 2px;

      transition: all 120ms;
    }

    &[data-hovered] {
      --border: var(--AnarBorderControlHover);
    }

    &[data-pressed] {
      --border: var(--AnarBorderControlPressed);
    }

    &[data-focus-visible] {
      --outline: 2px;
    }

    &[data-selected] {
      --bg: var(--primary-900);
      --border: var(--primary-900);
      --icon: var(--gray-50);
    }

    &[data-disabled] {
      --border: var(--AnarBorderColorDisabled);
      --text: var(--AnarColorTextDisabled);
      cursor: default;
    }

    &[data-selected][data-disabled] {
      --bg: var(--AnarColorTextDisabled);
    }
  }
}
