# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Generated artifacts
dist
doc_build
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Output of 'npm pack'
*.tgz

*storybook.log
storybook-static
