/* ListBoxItem */
@layer anar {

@property --AnarListItemPadding {
  syntax: '<length>+';
  inherits: true;
  initial-value: 2px;
}

@property --AnarListItemRadius {
  syntax: '<length>+';
  inherits: true;
  initial-value: 0;
}

@property --AnarListItemColor {
  syntax: '<color>';
  inherits: true;
  initial-value: inherit;
}

@property --AnarListItemSelectedColorBg {
  syntax: '<color>';
  inherits: true;
  initial-value: #DEDEDE;
}

@property --AnarListItemSelectedColor {
  syntax: '<color>';
  inherits: true;
  initial-value: inherit;
}

@property --AnarListItemDisabledColor {
  syntax: '<color>';
  inherits: true;
  initial-value: #ABABAB;
}

/* ListBox */
@property --AnarListPadding {
  syntax: '<length>+';
  inherits: true;
  initial-value: 2px;
}

@property --AnarListBorderWidth {
  syntax: '<length>+';
  inherits: true;
  initial-value: 2px;
}

@property --AnarListColorBd {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

@property --AnarListRadius {
  syntax: '<length>+';
  inherits: true;
  initial-value: 0;
}

@property --AnarListColorBg {
  syntax: '<color>';
  inherits: true;
  initial-value: #FFFFFF;
}
}
