.root {
  display: flex;
  box-sizing: border-box;
  padding: var(--AnarListPadding);
  width: 250px;

  flex-direction: column;

  /* Scrolling for list */
  overflow: auto;
  max-height: 300px;
  min-height: 120px;

  border: var(--AnarListBorderWidth) solid var(--AnarListColorBd);
  border-radius: var(--AnarListRadius);

  background: var(--AnarListColorBg);
  outline: 0 solid var(--AnarFocusRing);
  outline-offset: 1px;

  forced-color-adjust: none;

  &[data-focus-visible] {
    outline-width: var(--AnarOutline);
  }
}
