.root {
  position: relative;

  padding: var(--AnarListItemPadding);
  border-radius: var(--AnarListItemRadius);
  outline: 0 solid var(--AnarFocusRing);
  outline-offset: 1px;

  cursor: default;
  color: var(--AnarListItemColor);

  &[data-focus-visible] {
    outline-width: var(--AnarOutline);
  }

  &[data-selected] {
    background: var(--AnarListItemSelectedColorBg);
    color: var(--AnarListItemSelectedColor);
  }

  &[data-disabled] {
    color: var(--AnarListItemDisabledColor);
  }

  &[href] {
    text-decoration: none;
    cursor: pointer;
    -webkit-touch-callout: none;
  }
}
