@layer anar {
  .AnarDatePicker {
    --AnarDatePickerFieldGap: 10px;
    
    outline: none;

    display: flex;
    flex-flow: column !important;
    gap: var(--AnarDatePickerFieldGap);
  }

  .button {
    --AnarDatePickerFieldBorder: var(--gray-600);
    --AnarDatePickerFieldPadding: 9px 10px;
    --AnarDatePickerFieldRadius: 5px;

    display: flex;
    min-height: 46px;
    min-width: 126px;
    padding: var(--AnarDatePickerFieldPadding);

    border-radius: var(--AnarDatePickerFieldRadius);
    border: 2px solid var(--AnarDatePickerFieldBorder);
  }

  .DatePickerPopover {
    --AnarDatePickerFieldCalendarBorder: var(--gray-200);
    --AnarDatePickerFieldCalendarRadius: 5px;

    border-radius: var(--AnarDatePickerFieldCalendarRadius);
    border: 1px solid var(--AnarDatePickerFieldCalendarBorder);
    background-color: var(--overlay-background);
  }

  .AnarDryButtonContent {
    font-weight: 400;
  }
}