@property --AnarCalendarRangePadding {
  syntax: '<length>+';
  inherits: false;
  initial-value: 0;
}

@property --AnarCalendarRangeColorBg {
  syntax: '<color>';
  inherits: false;
  initial-value: none;
}

@property --AnarCalendarRangeColorText {
  syntax: '<color>';
  inherits: false;
}

@property --AnarCalendarRangeDisabledColorText {
  syntax: '<color>';
  inherits: false;
  initial-value: none;
}

@property --AnarCalendarRangeErrorColorText {
  syntax: '<color>';
  inherits: false;
  initial-value: none;
}

@property --AnarCalendarRangeColorSelected {
  syntax: '<color>';
  inherits: false;
}

@property --AnarCalendarRangeColorDivider {
  syntax: '<color>';
  inherits: false;
}

@property --AnarCalendarRangeMarginDivider {
  syntax: '<length>+';
  inherits: false;
  initial-value: 0;
}

@property --AnarCalendarRangeColorSelectedBorder {
  syntax: '<color>';
  inherits: false;
  initial-value: none;
}

@property --AnarCalendarRangeColorArrowButton {
  syntax: '<color>';
  inherits: false;
  initial-value: none;
}