@layer anar {
  [data-anar-scheme] {
    --primary-100: var(--purple-100);
    --primary-200: var(--purple-200);
    --primary-300: var(--purple-300);
    --primary-400: var(--purple-400);
    --primary-500: var(--purple-500);
    --primary-600: var(--purple-600);
    --primary-700: var(--purple-700);
    --primary-800: var(--purple-800);
    --primary-900: var(--purple-900);
    --primary-1000: var(--purple-1000);
    --primary-1100: var(--purple-1100);
    --primary-1200: var(--purple-1200);
    --primary-1300: var(--purple-1300);
  }

  [data-anar-scheme] {
    /* Generic styles */
    --AnarColorText: var(--gray-800);
    --AnarColorSubdued: var(--gray-700);
    --AnarColorTitle: var(--gray-900);
    --AnarColorDisabled: var(--gray-500);
    --AnarColorDisabledBg: var(--gray-200);
    --colorError: var(--red-900);
    --colorErrorPressed: var(--red-1000);

    --color-text: var(--gray-800);
    --color-text-subdued: var(--gray-700);
    --color-text-title: var(--gray-900);
    --color-text-disabled: var(--gray-500);
    --color-text-disabled-bg: var(--gray-200);
    --color-error: var(--red-900);
    --color-error-pressed: var(--red-1000);

    --border-color: var(--gray-400);
    --border-color-hover: var(--gray-500);
    --border-color-pressed: var(--gray-500);
    --border-color-disabled: var(--gray-500);

    /* Control borders like switch, radio and checkbox */
    --border-control-color: var(--gray-600);
    --border-control-color-hover: var(--gray-700);
    --border-control-color-pressed: var(--gray-700);

    /************************************************************/

    /* List */
    --AnarListItemPadding: 0.25rem;
    --AnarListItemRadius: 0.25rem;
    --AnarListItemColor: var(--AnarColorText);
    --AnarListItemSelectedColorBg: var(--gray-100);
    --AnarListItemSelectedColor: var(--AnarColorText);
    --AnarListItemDisabledColor: var(--AnarColorDisabled);
    --AnarListPadding: 0.25rem;
    --AnarListBorderWidth: 1px;
    --AnarListColorBd: var(--gray-400);
    --AnarListRadius: 0.25rem;
    --AnarListColorBg: var(--gray-50);

    /* Radio */
    --radio-color-hightlight: var(--color-text);
    --radio-color-hightlight-pressed: var(--color-title);

    --icon-size-xxs: 12px;
    --icon-size-xs: 16px;

    box-sizing: border-box;
    color: var(--gray-800);
  }

  [data-anar-scheme='dark'] {
    --AnarFocusRing: var(--primary-400);
  }

  [data-anar-scheme='darkest'] {
    --AnarFocusRing: var(--primary-300);
  }

  [data-anar-scheme='light'] {
    --AnarFocusRing: var(--primary-900);
  }
}

/* ORIGINAL TOOLKIT THEME */
/* Semantic colors */
@layer anar {
  [data-anar-scheme] {
    --text-color: var(--gray-600);
    --text-color-base: var(--gray-500);
    --text-color-hover: var(--gray-600);
    --text-color-disabled: var(--gray-200);
    --text-color-placeholder: var(--gray-400);
    --link-color: var(--purple-500);
    --link-color-secondary: var(--gray-500);
    --link-color-pressed: var(--purple-600);
    --field-background: var(--gray-50);
    --field-text-color: var(--gray-600);
    --overlay-background: var(--gray-50);
    --button-background: var(--gray-50);
    --button-background-pressed: var(--background-color);

    /* these colors are the same between light and dark themes
     * to ensure contrast with the foreground color */
    --highlight-background: #6f46ed; /* purple-300 from dark theme, 3.03:1 against background-color */
    --highlight-background-pressed: #522acd; /* purple-200 from dark theme */
    --highlight-background-invalid: #cc2000; /* red-300 from dark theme */
    --highlight-foreground: white; /* 5.56:1 against highlight-background */
    --highlight-foreground-pressed: #ddd;
    --highlight-overlay: rgb(from #6f46ed r g b / 15%);
    --invalid-color: var(--red-400);
    --invalid-color-pressed: var(--red-500);
  }
}

/* Windows high contrast mode overrides */
@media (forced-colors: active) {
  [data-anar-scheme] {
    --background-color: Canvas;
    --focus-ring-color: Highlight;
    --text-color: ButtonText;
    --text-color-base: ButtonText;
    --text-color-hover: ButtonText;
    --text-color-disabled: GrayText;
    --text-color-placeholder: ButtonText;
    --link-color: LinkText;
    --link-color-secondary: LinkText;
    --link-color-pressed: LinkText;
    --border-color: ButtonBorder;
    --border-color-hover: ButtonBorder;
    --border-color-pressed: ButtonBorder;
    --border-color-disabled: GrayText;
    --field-background: Field;
    --field-text-color: FieldText;
    --overlay-background: Canvas;
    --button-background: ButtonFace;
    --button-background-pressed: ButtonFace;
    --highlight-background: Highlight;
    --highlight-background-pressed: Highlight;
    --highlight-background-invalid: LinkText;
    --highlight-foreground: HighlightText;
    --highlight-foreground-pressed: HighlightText;
    --invalid-color: LinkText;
    --invalid-color-pressed: LinkText;
  }
}
