@layer anar {
  [data-anar-scheme] {
    --color-text: var(--gray-800);
    --color-text-subdued: var(--gray-700);
    --color-text-title: var(--gray-900);
    --color-text-disabled: var(--gray-500);
    --color-text-disabled-bg: var(--gray-200);

    --focus-ring-color: var(--seafoam-400);

    /************************************************************/
    /* Button component */
    --button-color-primary: var(--gray-400);
    --button-color-primary-hover: var(--gray-300);
    --button-color-primary-pressed: var(--gray-200);
    --button-color-primary-outline: var(--color-text);

    --button-color-secondary: var(--gray-200);
    --button-color-secondary-hover: var(--gray-300);
    --button-color-secondary-pressed: var(--gray-400);
    --button-color-secondary-outline: var(--gray-300);

    --button-color-negative: var(--red-600);
    --button-color-negative-text: var(--gray-900);
    --button-color-negative-hover: var(--red-500);
    --button-color-negative-pressed: var(--red-400);

    --button-color-negative-outline: var(--red-900);
    --button-color-negative-outline-hover: var(--red-200);
    --button-color-negative-outline-pressed: var(--red-300);

    --button-color-accent: var(--seafoam-600);
    --button-color-accent-hover: var(--seafoam-500);
    --button-color-accent-pressed: var(--seafoam-400);

    --button-color-accent-outline: var(--seafoam-900);
    --button-color-accent-outline-hover: var(--seafoam-200);
    --button-color-accent-outline-pressed: var(--seafoam-300);

    --icon-size-xxs: 12px;
    --icon-size-xs: 16px;

    box-sizing: border-box;
    color: var(--gray-800);
  }
}

/* ORIGINAL TOOLKIT THEME */
/* Semantic colors */
@layer anar {
  [data-anar-scheme] {
    --focus-ring-color: var(--purple-400);
    --text-color: var(--gray-600);
    --text-color-base: var(--gray-500);
    --text-color-hover: var(--gray-600);
    --text-color-disabled: var(--gray-200);
    --text-color-placeholder: var(--gray-400);
    --link-color: var(--purple-500);
    --link-color-secondary: var(--gray-500);
    --link-color-pressed: var(--purple-600);
    --border-color: var(--gray-300);
    --border-color-hover: var(--gray-400);
    --border-color-pressed: var(--gray-400);
    --border-color-disabled: var(--gray-100);
    --field-background: var(--gray-50);
    --field-text-color: var(--gray-600);
    --overlay-background: var(--gray-50);
    --button-background: var(--gray-50);
    --button-background-pressed: var(--background-color);

    /* these colors are the same between light and dark themes
     * to ensure contrast with the foreground color */
    --highlight-background: #6f46ed; /* purple-300 from dark theme, 3.03:1 against background-color */
    --highlight-background-pressed: #522acd; /* purple-200 from dark theme */
    --highlight-background-invalid: #cc2000; /* red-300 from dark theme */
    --highlight-foreground: white; /* 5.56:1 against highlight-background */
    --highlight-foreground-pressed: #ddd;
    --highlight-overlay: rgb(from #6f46ed r g b / 15%);
    --invalid-color: var(--red-400);
    --invalid-color-pressed: var(--red-500);
  }
}

/* Windows high contrast mode overrides */
@media (forced-colors: active) {
  [data-anar-scheme] {
    --background-color: Canvas;
    --focus-ring-color: Highlight;
    --text-color: ButtonText;
    --text-color-base: ButtonText;
    --text-color-hover: ButtonText;
    --text-color-disabled: GrayText;
    --text-color-placeholder: ButtonText;
    --link-color: LinkText;
    --link-color-secondary: LinkText;
    --link-color-pressed: LinkText;
    --border-color: ButtonBorder;
    --border-color-hover: ButtonBorder;
    --border-color-pressed: ButtonBorder;
    --border-color-disabled: GrayText;
    --field-background: Field;
    --field-text-color: FieldText;
    --overlay-background: Canvas;
    --button-background: ButtonFace;
    --button-background-pressed: ButtonFace;
    --highlight-background: Highlight;
    --highlight-background-pressed: Highlight;
    --highlight-background-invalid: LinkText;
    --highlight-foreground: HighlightText;
    --highlight-foreground-pressed: HighlightText;
    --invalid-color: LinkText;
    --invalid-color-pressed: LinkText;
  }
}
