@layer anar {
  .root {
    --AnarCalendarColorBg: var(--gray-100 );
    --AnarCalendarColorText: var(--gray-800);
    --AnarCalendarPadding:   20px 10px;
    --AnarCalendarRadius: 5px;

    display: inline-flex;
    flex-flow: column !important;
    gap: 5px;
    width: 310px;
    
    padding:var(--AnarCalendarPadding);
    
    border-radius: var(--AnarCalendarRadius);

    color: var(--AnarCalendarColorText);
    background-color: var(--AnarCalendarColorBg);
  }

  .CalendarHeader {
    display: flex;
    justify-content: space-between;
    width: 290px;
  }

  .arrowButtons {
    --DryButtonColorText: var(--gray-500);
    --DryButtonColorBg: transparent;
    --DryButtonDisabledColorBg: transparent;
  }

  .CalendarHeaderText {
    padding: 12px 31px;
  }

  .divider {
    --AnarCalendarColorDivider: #B1B2B5FF;
    --AnarCalendarMarginDivider: 0px 0px 15px 0px;

    margin: var(--AnarCalendarMarginDivider);
    border: 1px solid var(--AnarCalendarColorDivider);
  }

  .button{
    &[data-pressed] {
      border-radius: 5px;
      background-color: var(--gray-200);
    }
  }
  
  .error {
    color: var(--red-1000);
  }
}
