@property --AnarDateRangePickerFieldBorder {
  syntax: '<color>';
  inherits: false;
  initial-value: none;
}

@property --AnarDateRangePickerFieldOutline {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}

@property --AnarDateRangePickerFieldRadius {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}

@property --AnarDateRangePickerFieldPadding {
  syntax: '<length>+';
  inherits: false;
  initial-value: 9px 10px;
}

@property --AnarDateRangePickerFieldGap {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}

@property --AnarDateRangePickerFieldCalendarBorder {
  syntax: '<color>';
  inherits: false;
  initial-value: none;
}

@property --AnarDateRangePickerFieldCalendarRadius {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}
