@layer anar {
  .AnarCalendar {
    --AnarCalendarColorBg: var(--gray-100 );
    --AnarCalendarColorText: var(--gray-800);
    --AnarCalendarPadding:   20px 10px;

    display: inline-flex;
    flex-direction: column;

    padding:var(--AnarCalendarPadding);
    
    color: var(--AnarCalendarColorText);
    background-color: var(--AnarCalendarColorBg);
  }

  .CalendarMonthLabel {
    display: flex;
    justify-content: space-around;
  }

  .arrowButtons {
    --AnarCalendarColorArrowButton: var(--gray-500);

    color: var(--AnarCalendarColorArrowButton);
  }

  .divider {
    --AnarCalendarColorDivider: #B1B2B5FF;
    --AnarCalendarMarginDivider: 0px 0px 15px 0px;

    margin: var(--AnarCalendarMarginDivider);
    border: 1px solid var(--AnarCalendarColorDivider);
  }

  .CalendarGrid th, td {
    padding: 5px;
  }

  .CalendarGrid tbody{
    text-align: center;
  }

  .CalendarGrid tbody tr td div {
    --AnarCalendarColorTextDisabled: var(--AnarCalendarColorText);
    --AnarCalendarColorSelectedBorder: none;

    outline: 2px solid var(--AnarCalendarColorSelectedBorder);
    outline-offset: 2px;
    border-radius: 5px;

    color: var(--AnarCalendarColorTextDisabled);

    &[data-disabled] {
      --AnarCalendarColorTextDisabled: var(--gray-500);
    }
    
    &[data-selected] {
    --AnarCalendarColorSelectedBorder: var(--purple-400)  
    }

    &[data-hovered] {
      cursor: pointer;
    }
  }
}
