@layer anar {
  .root {
    --AnarCalendarSelectorColumnGap: 1px;
    --AnarCalendarSelectorRowGap: 1px;
 
    display: grid !important ;
    column-gap: var(--AnarCalendarSelectorColumnGap);
    row-gap: var(--AnarCalendarSelectorRowGap);
  }

  .sevenColumnGridLayout {
    grid-template-columns: repeat(7, 1fr);
  }
  
  .threeColumnGridLayout {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .CalendarGridCell {
    --AnarCalendarColorText: var(--gray-800);
    --AnarCalendarSelectorCellPadding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--AnarCalendarSelectorCellPadding);
    color: var(--AnarCalendarColorText);
    border-radius: 5px;
    border: 1px solid transparent;

    &[data-hovered] {
      background: var(--gray-200);
    }
  }
  
  .bigCalendarCell {
    min-width: 82px !important;
  }
  
  .selected {
    background: var(--gray-200);
    border:1px solid var(--indigo-400);
  }

  .disabled {
    --AnarCalendarColorTextDisabled: var(--gray-500);
    --AnarCalendarColorText: var(--AnarCalendarColorTextDisabled);

    cursor: default;
  }

  .invalid {
    color: var(--red-1000);
  }
}