.AnarRadioGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--AnarColorText);
}

.AnarRadioGroup {
  [slot=description] {
    font-size: 12px;
  }

  &[data-orientation=horizontal] {
    flex-direction: row;
    align-items: center;
  }
}
