
.AnarRadio {
  --bg: (--gray-50);
  --text: var(--AnarColorText);
  --border: var(--AnarBorderControlColor);
  --border-size: 0.143rem;
  --outline: 0;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--text);
  outline: var(--outline) solid var(--AnarFocusRign);
  outline-offset: 2px;

  /* TODO: Handle later */
  forced-color-adjust: none;

  &:before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    border: var(--border-size) solid var(--border);
    background: var(--bg);
    border-radius: 1rem;

    transition: all 120ms;
  }

  &[data-hovered] {
    --border: var(--AnarBorderControlHover);
  }

  &[data-pressed] {
    --border: var(--AnarBorderControlPressed);
  }

  &[data-selected] {
    --border: var(--primary-900);
    --border-size: 0.3rem;

    &[data-pressed] {
      --color: var(--primary-1000);
    }
  }

  &[data-focus-visible] {
    --outline: 2px;
  }

  &[data-readonly] {}

  &[data-invalid] {
    --border: var(--AnarColorError);

    &[data-pressed] {
      --border: var(--AnarColorErrorPressed);
    }
  }

  &[data-disabled] {
    --text: var(--AnarColorTextDisabled);
    --border: var(--AnarBorderColorDisabled);
  }
}
