@layer anar {
  .anar-checkbox {

    --selected-color: var(--highlight-background);
    --selected-color-pressed: var(--highlight-background-pressed);
    --checkmark-color: var(--highlight-foreground);

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.571rem;
    font-size: 1.143rem;
    color: var(--text-color);
    cursor: pointer;

    .checkbox-icon {
      width: 1.143rem;
      height: 1.143rem;
      border-radius: 4px;
      transition: all 200ms;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &[data-hovered] {
      background:rgba(228, 228, 229, 0.3);
    }
  
    &[data-pressed] .checkbox {
      border-color: var(--border-color-pressed);
    }

    &[data-disabled] {
      color:   rgba(228, 228, 229, 0.3);

      cursor: default;
    }
  
    &[data-focus-visible] .checkbox {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: 2px;
    }
  
    &[data-selected] {
      background: rgba(228, 228, 229, 0.3);

      .checkbox-icon {
        background: var(--selected-color);
        color: #ffff;
      }
  
      &[data-pressed] .checkbox-icon {
        border-color: var(--selected-color-pressed);
        background: var(--selected-color-pressed);
      }
    }

  }
}
