@layer anar {
  .AnarButton {
    --DryButtonRadius: 0.4rem;
    --DryButtonBorderWidth: 2px;

    --DryButtonDisabledColorBd: var(--gray-200);
    --DryButtonDisabledColorBg: var(--gray-200);
    --DryButtonDisabledColorText: var(--gray-500);

    &:where([data-accent]) {
      --DryButtonColorBd: var(--primary-900);
      --DryButtonColorBg: var(--primary-900);
      --DryButtonColorText: var(--gray-50);

      --DryButtonHoverColorBd: var(--primary-1000);
      --DryButtonHoverColorBg: var(--primary-1000);

      --DryButtonPressedColorBd: var(--primary-1100);
      --DryButtonPressedColorBg: var(--primary-1100);
    }

    &:where([data-main]) {
      --DryButtonColorBd: var(--gray-200);
      --DryButtonColorBg: var(--gray-200);
      --DryButtonColorText: var(--gray-800);

      --DryButtonHoverColorBd: var(--gray-300);
      --DryButtonHoverColorBg: var(--gray-300);

      --DryButtonPressedColorBd: var(--gray-400);
      --DryButtonPressedColorBg: var(--gray-400);
    }

    &:where([data-calm]) {
      --DryButtonColorBd: var(--gray-200);
      --DryButtonColorBg: transparent;
      --DryButtonColorText: var(--gray-800);

      --DryButtonHoverColorBd: var(--gray-300);
      --DryButtonHoverColorBg: var(--gray-300);

      --DryButtonPressedColorBd: var(--gray-400);
      --DryButtonPressedColorBg: var(--gray-400);
    }

    &:where([data-ghost]) {
      --DryButtonColorBd: transparent;
      --DryButtonColorBg: transparent;

      --DryButtonColorText: var(--gray-800);
      --DryButtonHoverColorText: var(--gray-900);
      --DryButtonPressedColorText: var(--gray-1000);
    }

    /* Negative */
    &:where([data-negative]) {
      --AnarFocusRing: var(--red-900);
      --DryButtonColorBd: var(--red-900);
      --DryButtonColorBg: var(--red-900);
      --DryButtonColorText: var(--gray-50);

      --DryButtonHoverColorBd: var(--red-1000);
      --DryButtonHoverColorBg: var(--red-1000);

      --DryButtonPressedColorBd: var(--red-1100);
      --DryButtonPressedColorBg: var(--red-1100);
    }

    &:where([data-sm]) {
      --DryButtonHeight: 27px;
      --DryButtonFont: 12px;
      --DryButtonPadding: 0.25rem 0.5rem;
    }

    &:where([data-md]) {
      --DryButtonHeight: 36px;
      --DryButtonFont: 14px;
      --DryButtonPadding: 0.5rem 0.75rem;
    }
  }
}
