@layer anar {
  .anar-button {
    /* Reset all the default  */
    all: unset;
    appearance: none;

    --focus-ring-color: var(--seafoam-400);

    display: inline-flex;

    /* Alignment */
    gap: 0.25rem;
    align-items: center;
    vertical-align: middle;

    /* Decoration */
    color: var(--button-base-tx);
    background-color: var(--button-base-bg);
    border: 2px solid var(--button-base-bd);
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: 600;
    outline: none;

    transition: 240ms ease-out;

    &[data-hovered] {
      color: var(--button-hover-tx, var(--button-base-tx));
      background-color: var(--button-hover-bg, var(--button-base-bg));
      border-color: var(--button-hover-bd, var(--button-base-bd));
    }

    &[data-pressed] {
      color: var(--button-pressed-tx, var(--button-base-tx));
      background-color: var(--button-pressed-bg, var(--button-base-bg));
      border-color: var(--button-pressed-bd, var(--button-base-bd));
    }

    /* Use for outline when focused via keyboard */
    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: 0;
    }

    --button-base-tx: var(--gray-800);

    &[data-primary-fill] {
      --button-base-bg: var(--gray-400);
      --button-base-bd: var(--gray-400);

      --button-hover-bg: var(--gray-300);
      --button-hover-bd: var(--gray-300);

      --button-pressed-bg: var(--gray-200);
      --button-pressed-bd: var(--gray-200);
    }

    &[data-primary-outline] {
      --button-base-bg: transparent;
      --button-base-bd: var(--gray-800);

      --button-hover-bg: var(--gray-300);
      --button-pressed-bg: var(--gray-200);
    }

    &[data-primary-quiet] {
      --button-base-bg: transparent;
      --button-base-bd: transparent;

      --button-hover-bg: var(--gray-300);
      --button-hover-bd: var(--gray-300);

      --button-pressed-bg: var(--gray-200);
      --button-pressed-bd: var(--gray-200);
    }

    &[data-secondary-fill] {
      --button-base-bg: var(--gray-200);
      --button-base-bd: var(--gray-200);

      --button-hover-bg: var(--gray-300);
      --button-hover-bd: var(--gray-300);

      --button-pressed-bg: var(--gray-400);
      --button-pressed-bd: var(--gray-400);
    }

    &[data-secondary-outline] {
      --button-base-bg: transparent;
      --button-base-bd: var(--gray-800);

      --button-hover-bg: var(--gray-300);

      --button-pressed-bg: var(--gray-400);
    }

    &[data-secondary-quiet] {
      --button-base-bg: transparent;
      --button-base-bd: transparent;

      --button-hover-bg: var(--gray-300);
      --button-hover-bd: var(--gray-300);

      --button-pressed-bg: var(--gray-200);
      --button-pressed-bd: var(--gray-200);
    }

    &[data-negative-fill] {
      --button-base-tx: var(--gray-900);
      --button-base-bg: var(--red-600);
      --button-base-bd: var(--red-600);

      --button-hover-bg: var(--red-500);
      --button-hover-bd: var(--red-500);

      --button-pressed-bg: var(--red-400);
      --button-pressed-bd: var(--red-400);
    }

    &[data-negative-outline] {
      --button-base-tx: var(--red-900);
      --button-base-bg: transparent;
      --button-base-bd: var(--red-900);

      --button-hover-bg: var(--red-200);

      --button-pressed-bg: var(--red-300);
    }

    &[data-negative-quiet] {
      --button-base-tx: var(--red-900);
      --button-base-bg: transparent;
      --button-base-bd: transparent;

      --button-hover-bg: var(--red-200);
      --button-hover-bd: var(--red-200);

      --button-pressed-bg: var(--red-300);
      --button-pressed-bd: var(--red-300);
    }

    &[data-accent-fill] {
      --button-base-bg: var(--seafoam-400);
      --button-base-bd: var(--seafoam-400);

      --button-hover-bg: var(--seafoam-500);
      --button-hover-bd: var(--seafoam-500);

      --button-pressed-bg: var(--seafoam-400);
      --button-pressed-bd: var(--seafoam-400);
    }

    &[data-accent-outline] {
      --button-base-tx: var(--seafoam-900);
      --button-base-bg: transparent;
      --button-base-bd: var(--seafoam-900);

      --button-hover-bg: var(--seafoam-200);

      --button-pressed-bg: var(--seafoam-300);
    }

    &[data-accent-quiet] {
      --button-base-tx: var(--seafoam-900);
      --button-base-bg: transparent;
      --button-base-bd: transparent;

      --button-hover-bg: var(--seafoam-200);
      --button-hover-bd: var(--seafoam-200);

      --button-pressed-bg: var(--seafoam-300);
      --button-pressed-bd: var(--seafoam-300);
    }

    &[data-disabled] {
      --button-base-tx: var(--gray-500);
      --button-base-bg: var(--gray-200);
      --button-base-bd: var(--gray-200);
    }

    &[data-sm] {
      font-size: 0.875rem;
      padding: 0.25rem 0.5rem;
    }

    &[data-md] {
      font-size: 1rem;
      padding: 0.5rem 0.75rem;
    }

    &[data-lg] {
      font-size: 1.125rem;
      padding: 0.75rem 1rem;
    }

    &[data-xl] {
      font-size: 1.25rem;
      padding: 0.75rem 1.25rem;
    }
  }
}
