@layer anar {
  .anar-button {
    /* Reset all the default  */
    all: unset;
    appearance: none;

    display: inline-flex;

    /* Alignment */
    gap: 0.25rem;
    align-items: center;
    vertical-align: middle;

    /* Decoration */
    color: var(--button-base-tx);
    background-color: var(--button-base-bg);
    border: 2px solid var(--button-base-bd);
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: 600;
    outline: none;

    transition: 240ms ease-out;

    &[data-hovered] {
      color: var(--button-hover-tx, var(--button-base-tx));
      background-color: var(--button-hover-bg, var(--button-base-bg));
      border-color: var(--button-hover-bd, var(--button-base-bd));
    }

    &[data-pressed] {
      color: var(--button-pressed-tx, var(--button-base-tx));
      background-color: var(--button-pressed-bg, var(--button-base-bg));
      border-color: var(--button-pressed-bd, var(--button-base-bd));
    }

    /* Use for outline when focused via keyboard */
    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: 1px;
    }

    --button-base-tx: var(--gray-800);

    &[data-primary] {
      --button-hover-bg: var(--button-color-primary-hover);
      --button-hover-bd: var(--button-color-primary-hover);

      --button-pressed-bg: var(--button-color-primary-pressed);
      --button-pressed-bd: var(--button-color-primary-pressed);
    }

    &[data-primary-fill] {
      --button-base-bg: var(--button-color-primary);
      --button-base-bd: var(--button-color-primary);
    }

    &[data-primary-outline] {
      --button-base-bg: transparent;
      --button-base-bd: var(--button-color-primary-outline);
      --button-hover-bd: var(--button-color-primary-outline);
      --button-pressed-bd: var(--button-color-primary-outline);
    }

    &[data-primary-quiet] {
      --button-base-bg: transparent;
      --button-base-bd: transparent;
    }

    &[data-secondary] {
      --button-hover-bg: var(--button-color-secondary-hover);
      --button-hover-bd: var(--button-color-secondary-hover);

      --button-pressed-bg: var(--button-color-secondary-pressed);
      --button-pressed-bd: var(--button-color-secondary-pressed);
    }

    &[data-secondary-fill] {
      --button-base-bg: var(--button-color-secondary);
      --button-base-bd: var(--button-color-secondary);
    }

    &[data-secondary-outline] {
      --button-base-bg: transparent;
      --button-base-bd: var(--button-color-secondary-outline);

      --button-hover-bg: var(--button-color-secondary-hover);

      --button-pressed-bg: var(--button-color-secondary-pressed);
      --button-pressed-bd: var(--button-color-secondary-pressed);
    }

    &[data-secondary-quiet] {
      --button-base-bg: transparent;
      --button-base-bd: transparent;

      --button-hover-bg: var(--gray-300);
      --button-hover-bd: var(--gray-300);

      --button-pressed-bg: var(--gray-200);
      --button-pressed-bd: var(--gray-200);
    }

    &[data-negative-fill] {
      --button-base-tx: var(--button-color-negative-text);
      --button-base-bg: var(--button-color-negative);
      --button-base-bd: var(--button-color-negative);

      --button-hover-bg: var(--button-color-negative-hover);
      --button-hover-bd: var(--button-color-negative-hover);

      --button-pressed-bg: var(--button-color-negative-pressed);
      --button-pressed-bd: var(--button-color-negative-pressed);
    }

    &[data-negative-outline] {
      --button-base-tx: var(--button-color-negative-outline);
      --button-base-bg: transparent;
      --button-base-bd: var(--button-color-negative-outline);

      --button-hover-bg: var(--button-color-negative-outline-hover);

      --button-pressed-bg: var(--button-color-negative-outline-pressed);
    }

    &[data-negative-quiet] {
      --button-base-tx: var(--red-900);
      --button-base-bg: transparent;
      --button-base-bd: transparent;

      --button-hover-bg: var(--button-color-negative-outline-hover);
      --button-hover-bd: var(--button-color-negative-outline-hover);

      --button-pressed-bg: var(--button-color-negative-outline-pressed);
      --button-pressed-bd: var(--button-color-negative-outline-pressed);
    }

    &[data-accent-fill] {
      --button-base-bg: var(--button-color-accent);
      --button-base-bd: var(--button-color-accent);

      --button-hover-bg: var(--button-color-accent-hover);
      --button-hover-bd: var(--button-color-accent-hover);

      --button-pressed-bg: var(--button-color-accent-pressed);
      --button-pressed-bd: var(--button-color-accent-pressed);
    }

    &[data-accent-outline] {
      --button-base-tx: var(--button-color-accent-outline);
      --button-base-bg: transparent;
      --button-base-bd: var(--button-color-accent-outline);

      --button-hover-bg: var(--button-color-accent-outline-hover);

      --button-pressed-bg: var(--button-color-accent-outline-pressed);
    }

    &[data-accent-quiet] {
      --button-base-tx: var(--button-color-accent-outline);
      --button-base-bg: transparent;
      --button-base-bd: transparent;

      --button-hover-bg: var(--button-color-accent-outline-hover);
      --button-hover-bd: var(--button-color-accent-outline-hover);

      --button-pressed-bg: var(--button-color-accent-outline-pressed);
      --button-pressed-bd: var(--button-color-accent-outline-pressed);
    }

    &[data-disabled] {
      --button-base-tx: var(--color-text-disabled);
      --button-base-bg: var(--color-text-disabled-bg);
      --button-base-bd: var(--color-text-disabled-bg);
    }

    &[data-sm] {
      font-size: 0.875rem;
      padding: 0.25rem 0.5rem;
    }

    &[data-md] {
      font-size: 1rem;
      padding: 0.5rem 0.75rem;
    }

    &[data-lg] {
      font-size: 1.125rem;
      padding: 0.75rem 1rem;
    }

    &[data-xl] {
      font-size: 1.25rem;
      padding: 0.75rem 1.25rem;
    }
  }
}
