@layer anar {
  .root {
    --AnarPopoverColorBd: var(--gray-200);
    --AnarPopoverColorBg: var(--gray-100);
    --AnarPopoverPadding: 0.25rem 0px;
    --AnarPopoverBorderRadius: 0.25rem;
    --AnarPopoverColorText: var(--gray-700);

    padding: var(--AnarPopoverPadding);

    border: 2px solid var(--AnarPopoverColorBd);
    border-radius: var(--AnarPopoverBorderRadius);

    box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);

    color: var(--AnarPopoverColorText);
    background: var(--AnarPopoverColorBg);

    outline: none;

    .arrow {
      stroke: var(--AnarPopoverColorBd);
      fill: var(--AnarPopoverColorBg);
    }

    &[data-placement=bottom] {
      --origin: translateY(-8px);

      &:has(.overlayArrow) {
        margin-top: 8px;
      }

      .arrow {
        transform: translateY(13px);
      }
    }

    &[data-placement=top] {
      --origin: translateY(8px);

      &:has(.overlayArrow) {
        margin-bottom: 8px;
      }

      .arrow {
        transform: rotate(180deg) translateY(7px);
      }
    }

    &[data-placement=right] {
      --origin: translateX(-8px);

      &:has(.overlayArrow) {
        margin-left: 8px;
      }

      .arrow {
        transform: rotate(-90deg) translateY(7px);
      }
    }

    &[data-placement=left] {
      --origin: translateX(8px);

      &:has(.overlayArrow) {
        margin-right: 8px;
      }

      .arrow {
        transform: rotate(90deg) translateY(7px);
      }
    }

    &[data-entering] {
      animation: popover-slide 180ms;
    }

    &[data-exiting] {
      animation: popover-slide 180ms reverse ease-in;
    }
  }
}

@keyframes popover-slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
