.root {
  display: flex;

  & > * {
    min-width: 0;
    min-height: 0;
  }

  &:where([data-strategy="fixed"]) > * {
    flex: 0 0 auto;
  }

  &:where([data-strategy="equal"]) > * {
    flex: 1 1 100%;
  }
}

.child {
  display: contents;

  &:where([data-strategy="auto"]) > * {
    flex: 1 1 auto;
  }

  &:where([data-push="row-start"]) > * {
    margin-right: auto;
  }

  &:where([data-push="row-end"]) > * {
    margin-left: auto;
  }

  &:where([data-push="column-start"]) > * {
    margin-bottom: auto;
  }

  &:where([data-push="column-end"]) > * {
    margin-top: auto;
  }
}

.ellipsis {
  /* Typically required for ellipses within the flex container */
  min-width: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
